/* Cascading Style Sheets */

/* using style tag */
/* using inline css */
/* using external style */
section{
    margin-top: 30px;
}
button{
    padding: 10px;
    border: none;
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}